<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% goals.each do |goal| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <!-- <h3><%= link_to goal.title.titleize, goal_path(goal) %></h3> -->
          <h3><%= goal.title.titleize %></h3>
        </div>
        <div class="panel-body">
          <p class="lead"><%= goal.body %></p>
          <% if new_checkin?(goal) %>
            <span id="new_<%= goal.id %>" class="badge btn-default">
              New Check-In!
            </span>
          <% end %>
        </div>
        <div class="btn-group btn-group btn-group-lg lead" role="group">
          <%= link_to checkin_goal_path(goal, checkin: "up"), type: "button", id: "goal_#{goal.id}_up", class: "btn btn-success #{'btn-transparent' if goal.status? != "up"}", method: "post", remote: true do %>
            <i class="fa fa-chevron-up"></i> <span id="goal_<%= goal.id %>_up_num"><%= goal.uphill %></span>
          <% end %>
          <%= link_to checkin_goal_path(goal, checkin: "none"), type: "button", id: "goal_#{goal.id}_none", class: "btn btn-info #{'btn-transparent' if goal.status? != "none"}", method: "post", remote: true do %>
            <h3>
              <span id="goal_<%= goal.id %>_none_num"><%= display_percentage(goal) %></span>
            </h3>
            <i class="fa fa-minus-square-o"></i>
          <% end %>
          <%= link_to checkin_goal_path(goal, checkin: "down"), type: "button", id: "goal_#{goal.id}_down", class: "btn btn-warning #{'btn-transparent' if goal.status? != "down"}", method: "post", remote: true do %>
            <span id="goal_<%= goal.id %>_down_num"><%= goal.downhill %></span> <i class="fa fa-chevron-down"></i>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-4" data-toggle="tooltip" data-placement="bottom" title="Started <%= display_date(goal.created_at) %>">
            <p>Since <%= time_ago_in_words(goal.created_at) %> ago</p>
          </div>
          <div class="col-md-4" data-toggle="tooltip" data-placement="bottom" title="<%= goal.total_checkins %> check-ins total">
            <p><%= display_checkin(goal) %></p>
          </div>
          <div class="col-md-4">
            <%= link_to edit_goal_path(goal), class: "btn btn-sm btn-default btn-round" do %>
                <i class="fa fa-cog"></i> Edit
            <% end %>
            <!-- <%= link_to goal_path(goal), class: "btn btn-sm btn-default btn-round" do %>
              <i class="fa fa-line-chart"></i> Info
            <% end %> -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
