<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uphill</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/nav' %>

    <div class="site-wrapper <%= @class_wrapper if @class_wrapper %>">
      <div class="site-wrapper-inner <%= @class_inner_wrapper if @class_inner_wrapper %>">
        <div class="cover-container">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer', obj: "mastfoot mastfoot-fixed" %>
  </body>
</html>
